html {
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-color: #30120a;
}
/* footer */
footer {
	/* position: absolute;*/
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	margin-top: 1em;
	background-color: #800000; 
	color: white;
	text-align: center;
	clear: both;
}

* {
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
	clear: both;
	margin: 20px;
	color: white;
}

/* events section */
.grid-scroll {
	font-size: 0; /* eliminates spacing issues */
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow-x: scroll;
	margin: 0 auto;
	padding: 0;
}
.grid-scroll li {
	display: inline-block;
	width: 40%;
	min-width: 250px;
	max-width: 400px;
	padding: 0;
	margin: 0;
}
.grid-scroll li div img {
	width: 100%;
}

.grid-scroll li div {
	position: relative;
}

.over-image {
	display: block;
	position: absolute;
	left: 0;
	height: auto;
}

.over-image p {
	font-size: 1rem;
	text-align: center;
	height: 100%;
 	color: white;
 	padding: 5px;
	background-color: #800000;
 	color: white;
 }


/* image grid-flow */
.grid-flow {
  	overflow: hidden;
	list-style: none;
}

.grid-flow li > div {
	position: relative;
}
.grid-flow li img {
	display: block;
	margin: auto;
    width: 90%;
    padding: 10px 0;
}
.grid-flow li p {
	text-align: center;
	display: block;
	font-weight: bold;
	color: white;
	margin: 0px auto 15px auto;
}

@media all and (min-width: 25em) {
	.grid-flow li {
		width: 50%;
		float: left;
	}
}
@media all and (min-width: 40em) {
	.grid-flow li {
		width: 33.3333333%;
	}
}
@media all and (min-width: 60em) {
	.grid-flow li {
		width: 25%;
	}
}
@media all and (min-width: 80em) {
	.grid-flow li {
		width: 20%;
	}
}
@media all and (min-width: 100em) {
	.grid-flow li {
		width: 16.66666666%;
	}
}